.fix {
    position: fixed;
    color: #fff;
    font-size: 20px;
    bottom: 25px;
    right: 25px;
    padding: 15px;
    border-radius: 5px;
    background-color:#ffc732;
    text-decoration: none;
}


/* HEADER-CONTAINER */
.container{
    width: 100%;
    /* outline: 2px solid black; */
    font-family: sans-serif;
}
.header-container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    align-items: center;

}
.navigation{
    margin-top: 30px;
}
.logo h1{
    font-size: 30px;
    margin-top: 30px;
    text-decoration: none;
    display: inline-block;
    color: white;
    
}
.navigation ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.navigation ul li a{
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    margin: 20px;
    color:rgba(255, 255, 255, 0.6);
    position: relative;
}
.navigation ul li a.active{
    color: #fff;
}
.navigation ul li a:hover{
    color: #fff;
    transition: 0.3s;
}
.active::after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    bottom: -4px;
    height: 2px;
    background-color: #feb900;
    width: 100%;
}
.uline::after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    bottom: -4px;
    height: 2px;
    background-color: #feb900;
    transition: 0.2s width ease-in-out;
}
.uline:hover::after{
    width: 100%;
}
.welcome h1{
    margin: auto;
    text-align: center;
    width: 30%;
    font-size: 45px;
    margin-top: 30px;
    position: relative;
}
.welcome h1::after{
    content: "";
    position: absolute;
    background-color: #feb900;
    width: 30%;
    height: 4px;
    left: 140px;
    bottom: -15px;
}
.welcome p{
    margin: auto;
    text-align: center;
    width: 50%; 
    font-size: 30px;
    margin-top:  80px;
    

}
.welcome button {
    text-align: center;
    font-size: 30px;
    margin: 50px 0px 0px 600px;
    background-color: transparent;
    border: solid 2px #feb900;
    border-radius: 50px; 
    padding: 10px;
    text-decoration: none;
    color: white;
}
.welcome button:hover{
    background-color: #feb900;
    transition: 0.3s;
}
.image-container{
    background-image: url(images/con-1.jpg);
    background-size: cover;
    height: 620px;
    color: white;
    background-position: center;
    

}
.color{
    background-color: rgba(0, 0, 0, 0.7);
    height: 620px;

}

/* ABOUT-CONTAINER */
.about-container{
    margin: auto;
    width: 1200px;
    height: 650px;
    display: flex;
    justify-content: space-between;
}
.page-left{
    flex-basis: 60%;
}

.page-left h2{
    margin: 150px 100px 50px 0px;
    width: 70%;
    position: relative;
    font-size: 30px;
}
.page-left h2::after{
    content: "";
    position: absolute;
    background-color: #feb900;
    width: 20%;
    height: 4px;
    left: 0px;
    bottom: -15px;
}
.page-left p{
    width: 95%;
    margin-top: 20px;
    font-size: 15px;
    line-height: 30px;
}

.page-right{
    flex-basis: 40%;
    height: 520px;
    background-color: white;
    margin-top: 60px;
}
.page-right h2{
    font-size: 30px;
    margin:25px 0px 20px 25px;
}
.page-right p{
    margin:20px 0px 20px 25px;
    width: 90%;
    font-size: 15px;
    line-height: 20px;
}
.email{ 
    margin: 0px 0px 30px 30px;

}
.email form input{
    width: 90%; 
    padding: 12px;

}
.email form textarea {
    width: 96%;
}
input:focus{
    outline: solid 1px #feb900;
    border: none;
}
textarea:focus{
    outline: solid 1px #feb900;
    border: none;
}
.email form button{
    margin-left: 160px;
    border: 0;
    background-color:#feb900;
    border-radius: 5px;
    font-size: 25px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.about-color{
    background-color: #f5f6f7;
    height: 650px;
}

/* CONSTRUCTION-CONTAINER */

.construction-container{
    margin: auto;
    width: 1200px;
    height: 950px;
    /* outline: solid 2px black; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.construction{
    margin-top: 90px;
    width: 100%;
    text-align: center;
}
.construction h2{
    font-size: 30px;
    padding: 10px;
}
.construction p{
    font-size: 15px;
    width: 40%;
    margin-left: 350px;
    padding-bottom: 70px;
    line-height: 20px;
}
.works{
    margin: auto;
    widows: 1200px;
    height: 700px;
    /* outline: solid 2px black; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work{
    width: 580px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(82, 86, 94, 0.2);
    background: #fff;

}
.image-text h2{

    width: 100%;
    padding: 20px;
    font-size: 30px;

}
.image-text p{
    width: 100%;
    padding: 20px;
    font-size: 14px;
    padding-left: 45px;
    line-height: 20px;
}

/* SERVICE-CONTAINER */

.service-container{
    margin: auto;
    width: 1200px;
    height: 1050px;
    /* outline: solid 2px black; */
}

.service-head h2{
    text-align: center;
    padding: 30px;
    font-size: 40px;
}
.service-head p{
    text-align: center;
    margin-left: 250px;
    font-size: 20px;
    max-width: 60%;
    padding-top: 10px;
}
.detail-services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* outline: solid 2px black; */
}
.service{
    width: 32%;
    height: 370px;
    /* outline: solid 2px black; */
    margin-top: 30px;
    background-color:white;
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
 .service:hover .circle {
    background-color: #feb900;
}
.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #f5f6f7;
    position: relative;
    top: 52px;
    left: 38px;
}

.icon{ 
    position: relative;
    margin: 10px 0px 20px 30px;
    font-size: 40px;
}
 .icon i{
    font-size: 40px;

} 
.service h2{
    width: 70%;
    font-size: 22px;
    margin: 0 0 10px 60px;
    padding-bottom: 8px;
    position: relative;
}
.service h2::after{
    content: "";
    position: absolute;
    background-color: #f5f6f7;
    width: 70%;
    height: 4px;
    left: 0px;
    bottom: -15px
}
.service:hover  h2::after{
    background-color: #feb900;
}
.service p{
    padding: 20px 0px 20px 0px;
    font-size: 15px;
    width: 80%;
    margin-left: 50px;
    line-height: 1.5;
}
.arrow a {
    display: inline-block;
    text-align: center;
    padding: 15px 5px 15px 15px;
    margin-left: 35px;
    text-decoration: none;
    font-size: 20px;
    color: #feb900;

}
.fa-arrow-right-long{
    color: #feb900;
}
.service-color{
    background-color: #f5f6f7;
    height: 1050px;

}

/* PLEASURE-CONTAINER */
.pleasure-container{
    /* outline: solid 2px black; */
    margin: auto;
    width: 1200px;
    height: 1000px;
    display: flex;
    justify-content: space-between;

}
.left-image{
    /* outline: solid 2px black; */
    height: 850px;
    width: 48%;
    margin-top: 80px;
    background-image: url(images/alt.jpg);
    background-size: cover;
    background-position: center ;
}
.right-paragraph{
    display: flex;
    justify-content: space-between;
    width: 48%;
    margin-top: 80px;
    flex-wrap: wrap;
}
.heading h2{
    font-size: 30px;
    padding-bottom: 20px;
    position: relative;
}
.heading h2::after{
    content: "";
    position: absolute;
    background-color: #feb900;
    width: 20%;
    height: 4px;
    left: 0px;
    bottom: 0px
}
.heading p{
    font-size: 18px;
    padding: 10px 0px 25px 0px;
    max-width: 95%;
}

.sub{
    position: relative;
    /* cursor: pointer; */
    padding: 20px;
}

.sub h3{
    font-size: 18px;
    padding: 10px 0px 10px 50px;
    
}
.sub h3 a{
    text-decoration: none;
    color: black;
    
}

.sub p{
    font-size: 15px;
    padding: 0px 0px 10px 48px;
    max-width: 70%;
    
}
.sub i{
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 30px;
    color: #feb900;
    height: 56px;
    width: 56px;
    border-radius: 5px;
    box-shadow: 0px 2px 30px rgb(0 0 0 / 8%);
    background-color: #fff;
    padding: 12px;

}
.sub:hover i{
    color: #f5f6f7;
    background-color: #feb900;
    transition: 0.3s;
}
.sub:hover h3 a{
    color:#feb900;
    transition: 0.3s;
}


/* TRAINING-CONTAINER */

.training-container{
    /* outline: solid 2px black; */
    margin: auto;
    width: 1200px;
    height: 550px;
    display: flex;
    flex-direction: column;
}
.training-head  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 70px 60px 0px 60px;
}
.training-head ul .aline a{
    width: 25%;
    text-align: center;
    margin: 20px;
    color: #feb900;
    margin: 25px;
}
.training-head ul .aline{
    width: 25%;
    text-align: center;
    border-bottom: 4px solid #feb900;
    margin: 10px;
}
.training-head ul .bline{
    width: 25%;
    text-align: center;
    border-bottom: 4px solid #e2e4e6;
    margin: 10px;
}
.training-head ul .bline:hover a{
    color: #feb900;
    transition: 0.2s;
}
.training-head ul .bline:active{
    border-color: #feb900;
}
.training-head ul li a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}

.training-foot{
    /* outline: solid 2px black; */
    display: flex;
    justify-content: space-between;
    position: relative;
}
.training-left{
    width: 90%;
}

.training-left h2{
    padding: 80px 0px 20px 50px;
    font-size: 25px;
    position: relative;
}
.training-left h2::after{
    content: "";
    position: absolute;
    background-color: #feb900;
    width: 10%;
    bottom: 0;
    left: 50px;
    height: 4px;
}
.training-left p{
    font-size: 20px;
    padding:  20px 0px 20px 50px;
    max-width: 80%;
}
.training-left ul li{
    font-size: 20px;
    padding:  10px 0px 20px 70px;
    max-width: 80%;
    list-style: none;
}
.training-left i{
    position: absolute;
    left: 50px;
    color: #feb900;
    padding-top: 15px;
}.training-right{
    /* outline: solid 2px black; */
    height: 420px;
    width: 80%;
    margin-top: 20px;
    background-image: url(images/fat.jpg);
    background-position: center;
    background-size: cover;
}
.training-color{
    background-color: #f5f6f7;
    height: 650px;
}

/* PROJECT-CONTAINER */

.project-container{ 
    /* outline: solid 2px black; */
    margin: auto;
    width: 1200px;
    height: 1500px;
    display: flex;
    flex-direction: column;
}
.project-header h2{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}
.project-header p{
    text-align: center;
    font-size: 18px;
    margin: 10px 0px 0px 150px;
    max-width: 70%;
}
.project-work ul{
    margin-top: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}
.project-work ul li .dline{
    margin-left: 40px;
    text-decoration: none;
    color: #feb900;
    font-size: 20px;
}

.project-work ul li .cline{
    margin-left: 40px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.project-work ul li .cline:hover{
    color: #feb900;
    transition: 0.3s;
}
.project-images{
    /* outline: solid 2px black; */
    margin-top: 15px 0px 50px 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.project-image{
    /* outline: solid 2px black; */
    width: 33.333333%;
    padding: 15px;
}

.project-card{
    position: relative;
    overflow: hidden;
}
.project-card img{
    max-width: 100%;
    transition: 0.3s;
}
.project-card:hover img{
    transform: scale(1.1);

}
.project-info{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}
.project-card:hover .project-info{
    opacity: 1;
    transition: all 0.3s;
}
.project-info h4{
    padding: 5px;
    position: absolute;
    font-size: 20px;
    background-color: #feb900;
    color: #fff;
    top: 10px;
    left: 10px;
}

.project-link a i{
    position: relative;
    font-size: 30px;
    color: white;
    padding: 20px;
    top: 120px;
    left: 110px;
}
    
.project-info p{
    font-size: 18px;
    color: white;
    position: absolute;
    left: 50px;
    top: 230px;
}

/* TESTIMONIALS-CONTAINER */

.testimonials{
    /* outline: solid 2px black; */
    margin: auto;
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.testi-head{
    text-align: center;
    margin-top: 40px;

}
.testi-head h3{
    font-size: 25px;
    padding: 10px;
}
.testi-head p{
    font-size: 18px;
    margin: 10px 0px 10px 300px;
    width: 50%;
    line-height: 27px;
}
.testi-foot{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.testi-details{
    padding: 20px;
    /* outline: solid 2px black; */
    display: flex;
    flex-direction: row;
    position: relative;
}
.testi-photo{
    margin-left: -20px;
    /* background-color: #fff; */
} 
.testi-photo img{
    max-width: 80px;
    border: #fff 4px solid;
    position: absolute;
    top: 40px;
}
.testi-text{
    background-color: #fff;
    margin-left: 30px;
}
.testi-text h4{
    font-size: 20px;
    padding: 20px 0px 5px 80px;
}
.testi-text h5{
    padding: 5px 0px 5px 80px;
}
.star{
    color: #feb900;
    padding: 5px 0px 5px 80px;
}
.testi-text p{
    font-size: 15px;
    padding: 5px 0px 20px 80px;
    line-height: 2;
}
.testi-text p i{
    color: #ffd565;
    font-size: 25px;
    
}
.testi-color{
    background-color: #f5f6f7;
    height: 500px;
}

/* BLOGPOST-CONTAINER */

.blogpost-container{
    /* outline: 2px solid black; */
    margin: auto;
    height: 700px;
    width: 1200px;
    display: flex;
    flex-direction: column;
}
.blogpost-head h4{
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
}
.blogpost-head p{
    margin: 10px 0px 20px 250px;
    width: 55%;
    text-align: center;
    font-size: 18px;
}
.blogpost-foot{
    /* outline: solid 2px black; */
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.blogpost{
    /* outline: solid 2px black; */
    width: 33.333333%;
    display: flex;
    flex-direction: column;
    height: 480px;
    padding: 15px;
    cursor: pointer;
}
.blogpost-image img{
    overflow: hidden;
    max-width: 100%;
}
.blogpost-image { 
    overflow: hidden;
    position: relative;

}
.blogpost-image span{
    color: #fff;
    position: absolute;
    background-color:#feb900;
    right: 0px;
    bottom: 0px;
    padding: 5px;
}
.blogpost:hover img{
    transform: scale(1.1);
    transition: 0.3s;

}
.blogpost-details{
    padding: 15px;
    align-items: center;
    position: relative;
}
.blogpost-text h3{
    font-size: 25px;
    padding: 5px 10px 10px 17px;
}
.blogpost-names{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    padding: 15px;
}
.name1 h5{
    padding: 5px 30px 5px 0px;
}
.name1 h5 i{
    padding: 5px;
    color: #feb900;
}

.blogpost-names span{
    position: absolute;
    left: 150px;
    bottom: 92px;
}
.blogpost-details a{
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-left: 25px;
}
.blogpost-details i{
    color: black;
}
.blogpost:hover  .blogpost-details a{
    color: #feb900;
    transition: 0.3s;
}
.blogpost:hover .blogpost-details i {
    color: #feb900;
    transition: 0.3s;
}
.blogpost:hover .blogpost-text h3{
    color: #feb900;
    transition: 0.3s;
}

/* FOOTER-CONTAINER */
.footer-container{
    /* outline: solid 2px black; */
    margin: auto;
    width: 1200px;
    height: 450px;
    display: flex;
    flex-direction: column;
}
.footer-top{
    /* outline: 2px solid black; */
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.footer-top h1{
    font-size: 25px;
    padding: 0px 0px 30px 20px;
}
.footer-top h3{
    font-size: 18px;
    padding-left: 20px;
}
.footer-top h4{
    font-size: 15px;
    padding: 30px 0px 0px 20px;
}
.footer-top h5{
    font-size: 15px;
    padding-left: 20px
}
.footer-left{
    width: 30%;
    padding: 20px 20px 30px 30px;
}
.footer-icons{
    padding: 10px 0px 0px 20px;
}
.footer-icons i{
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    padding: 8px;
    
}
.footer-icons i:hover{
    background-color: #feb900;
}
.footer-right{
    /* outline: solid 2px black; */
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding: 00px 20px 30px 30px;
}

.footer-links h6{
    font-size: 18px;
    padding: 25px 0px 10px 0px;
}
.footer-links ul{
    list-style: none;
}
.footer-links  ul a{
    display: inline-block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    line-height: 2;

}
.footer-links  ul a:hover{
    color: #fff;
}
.footer-bottom{
    text-align: center;
    margin-top: 20px;
}
.copyright{
    padding: 5px;
}
.footer-design a{
    text-decoration: none;
    color: #feb900;

}
.footer-image{
    background-image: url(images/footer.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
    color: #fff;
}
.footer-color{
    background-color: rgba(0, 0, 0, 0.8);
}
